html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #282828;
}
section {
    height: 100%;
    width: 100%;
    position: absolute;
}
#clip {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
}
